<!DOCTYPE HTML>
<html>
	<head>
		<title>人员管理可视化</title>
		<meta name="keywords" content="666">
        <meta name="description" content="666">
        <link rel="shortcut icon" href="favicon.ico.css">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css"/>
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body onselectstart="return false" oncontextmenu=self.event.returnValue=false >

	<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">

							<span><font size="15">润</font></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>数据可视化人员管理系统</h1>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="neo4j" target="_blank">开始使用</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">©2019 <a href="http://www.hoperun.com" target="_blank">南京润和润云科技有限公司</a> 版权所有</p>

					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="js/jquery.min.js" ></script>
			<script src="js/skel.min.js" ></script>
			<script src="js/util.js" ></script>
			<script src="js/main.js" ></script>
 
	</body>
</html>
